<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "emp1" class = "com.bean.Employee">
      <property name = "eid" value = "102"/>
      <property name = "ename" value = "Pavan"/>
      <property name = "eaddress" value = "Hyderabad"/>
   </bean>
   
   <bean id = "emp2" class = "com.bean.Employee">
      <property name = "eid" value = "103"/>
      <property name = "ename" value = "Pavan1"/>
      <property name = "eaddress" value = "Hyd"/>
   </bean>

</beans>